.inner{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        border-radius: 0.5rem;
    }
    &__item{
        display: flex;
        position: relative;
        width: calc(100% / 3 - 20px * 2 / 3);
        align-items: center;
        padding: 5px;
        cursor: pointer;
        overflow: hidden;

        &--image{
            max-width: 70px;
            min-width: 70px;
            height: 70px;
            border-radius: 0.5rem;
            margin-right: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media (max-width: 575.98px) {
                max-width: 50px;
                min-width: 50px;
                height: 50px;
            }
              
            &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 0.5rem;
            z-index: 1;
            }
            &:hover::after {
            opacity: 0.3;
            }
        }
        &:hover{
           background-color: #2F2739;
           & .inner__item--title{
                color: #C273ED;
           }
        }
        &--title{
            h4{
                margin: 0;
                color:white;
            }
            p{
                margin: 0;
                &:hover{
                    text-decoration: underline;
                }
            }
            
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        @media (max-width: 575.98px) {
            &--title{
                h4{
                    font-size: 14px;
                }
                p{
                    font-size: 13px;
                }
            }
        }

        .play-button {
            position: absolute;
            top: 25px;
            left: 25px;
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none; // nếu chỉ muốn hiển thị icon
          }
          &:hover .play-button {
            opacity: 1;
          }

        
    }
    &__item:nth-child(3n){
        margin-right: 0;
    }
    @media (max-width: 991.98px) {
        &__item{
             width: calc(100% / 2 - 40px / 2);
        }
        &__item:nth-child(2n){
            margin-right: 0;
        }
    }
    @media (max-width: 575.98px) {
        &__item{
             width:100%;
        }
    }

}
.carousel__container {
    padding: 2rem;
    .carousel__item {
        padding: 0 10px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .carousel__image-wrapper {
        border-radius: 10px;
        overflow: hidden;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media (max-width: 991.98px) {
    .carousel__image-wrapper {
        height: 250px;
    }
    }
}

.topic__list{
    display: flex;
}   
.topic__item{
    padding: 10px;
    border: 1px solid #2F2739;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    &--image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover{
        border-color: #6A5ACD; // đổi màu viền khi hover
        box-shadow: 0 4px 12px rgba(106, 90, 205, 0.3); // đổ bóng

        .topic__item--image img {
            transform: scale(1.05); // phóng to nhẹ ảnh
        }
    }
}
@media (max-width: 575.98px) {
    .topic__item{
        width: 70%;
    }
}