.playlist{
    &-image{
        width: auto;
        height: 350px;
        overflow: hidden;
        border-radius: 8px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.aplayer .aplayer-list ol li.aplayer-list-light {
    background:none;
}
.aplayer.aplayer-withlist .aplayer-list {
  max-height: none !important;      // ❌ không giới hạn chiều cao
  overflow-y: visible !important;   // ❌ không có thanh scroll
}
